<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileLog" xsi:type="File" fileName="logs/Exceptions.log"
            layout="${longdate} | ${level} | ${logger} | ${message} | ${exception:format=toString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="fileLog" />
  </rules>

</nlog>
