
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row card d-flex flex-row shadow p-3 mb-5 bg-body rounded">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 justify-content-start">
            <label class="roboto-ExtraBold-800 title-morado title-size-max">
                Mtro.Erik Guerrero Bravo
            </label>
            <p class="mt-0 mb-0">Telefono: 7731954385</p>
            <p class="mt-0">Direccion: Av.Madero N#3, Colonia Centro Tepetitlan Hidalgo.</p>
            <hr />
            <button class="btn btn-bd-morado" id="btnSkill">
                <i class="fa-solid fa-thumbs-up"></i>
                Agregar Skill
            </button>
            <button type="button" class="btn btn-outline-success">
                <i class="fa-solid fa-house"></i>
                Bio
            </button>
            <button type="button" class="btn btn-outline-secondary">
                <i class="fa-solid fa-gear"></i>
                Configuraciones
            </button>
           
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 justify-content-end">
            <img src="~/Images/user_anonimo.webp" alt="Descripción de la imagen">

        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-2 d-flex">
            <div class="mb-3 justify-content-sm-start">
                <label for="formFileSm" class="form-label">Agregar Foto</label>
                <input class="form-control form-control-sm" id="formFileSm" type="file">
            </div>
        </div>
    </div>

</div>


